xft.dpi: 96
xft.antialias: true
xft.hinting: true
xft.hintstyle: hintfull

*background: #111111
*foreground: #d5d8d6
*cursorColor: #d0d0d0
*color0: #1d1f21
*color1: #cc342b
*color2: #198844
*color3: #fba922
*color4: #3971ed
*color5: #a36ac7
*color6: #3971ed
*color7: #c5c8c6
*color8: #969896
*color9: #cc342b
*color10: #198844
*color11: #fba922
*color12: #3971ed
*color13: #a36ac7
*color14: #3971ed
*color15: #ffffff

xterm*faceName: xft:Hack
xterm*faceSize: 12
xterm*saveLines: 10000
xterm*loginShell: true
xterm*cursorBlink: true
xterm*dynamicColors: true
xterm*selectToClipboard: true
xterm.vt100.internalBorder: 0
xterm.vt100.metaSendsEscape: true
xterm.vt100.geometry: 80x20
xterm*vt100.translations: #override \
    Ctrl Shift <Key> C: copy-selection(SELECT) \n\
    Ctrl <Key> V: insert-selection(SELECT) \n\
	Ctrl <Key> minus: smaller-vt-font() \n\
	Ctrl <Key> plus: larger-vt-font() \n\
	Ctrl <Key> 0: set-vt-font(d)
