* {
    font-weight: bold;
    font-size: 12px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
}

#workspaces button.active {
    border-bottom: 3px solid rgb(255, 255, 255);
    border-radius: 0px;
}

#custom-power {
    padding-top: 0.5em;
}

#pulseaudio,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#clock,
#tray {
    padding: 0 0.5em;
}
